# NODE / NPM

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# EXPO / REACT native

.expo/
dist/
web-build/

# Arquivos .env

.env
.env.local
.env.development.local
.env.test.local
.env.production.local


# IDEs / EDITORES DE CÓDIGO

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp